.skillsBlock {
    min-height: 100vh;
    background-color: #d4ffe0;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color:#eeeef5;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}