.mainBlock {
    height: 100vh;
    background-color: #f17cc6;
}


.text {
    width: 300px;
    background-color: #f7f7f7;

}

.photo {
    width: 300px;
    height: 400px;
    background-color:#f7f7f7 ;
}